* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 300px 1fr;
    margin: 0;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

main {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    align-content: start;
    grid-template-areas: 
    'header header header header'
    'progress progress progress subscription'
    'popular mentors mentors mentors';
    background-color: white;
    padding: 20px 30px;
    gap: 20px;

}

.course-progress{
grid-area: progress;
}

.subscription {
grid-area: subscription;
}

.popular-categories {
grid-area: popular;
}

.top-mentors {
grid-area: mentors;
}

.block.block-bg {
    border-radius: 20px;
}


.block {
display: grid;

grid-template-columns: auto auto;
gap: 20px;
background-color: aquamarine;
}

.block > .title {
font-size:  20px;
margin: 0;
}

.block > .link {
font-size: 14px;
justify-self: end;
text-decoration: none;
align-self: center;
color: black;
}

.block > .content {
    grid-column: span 2;

}

